/* 头部开始 */
.head{
	width:100%;
	height:35px;
	background:#333333;
	}
.head-center{
	width:1226px;
	height:35px;
	margin:0px auto;
}
.head-left{
	width:800px;
	height:35px;
	line-height:35px;
	float:left;
}
.head-left-test{
	font-size:14px;
	float:left;
	color:#858585;
}
.head-left-shape{
	font-size:14px;
	float:left;
	margin:0px 4px;
	color:#3f3f3f;
}
.head-right{
	width:286px;
	height:35px;
	line-height:35px;
	float:right;
}
.head-right-car{
	font-size:14px;
	width:100px;
	height:35px;
	float:right;
	line-height:35px;
	text-align:center;
	background:#424242;
	color:#9d9d9d;
}
.head-right-car i{
	font-size:15px;
	margin-right:5px;
	box-sizing:border-box;
}
.head-right-test{
	font-size:14px;
	height:100%;
	float:left;
	color:#858585;
}
.head-right-shape{
	font-size:14px;
	margin:0px 4px;
	float:left;
	color:#3f3f3f;
}
/* 头部结束 */
/* 导航开始 */
.hand{
	width:1226px;
	height: 78px;
	margin:0px auto;
}
img{
	width:42px;
	height: 44px;
	margin-top:16px;
	float:left;
}
.hand-left{
	width:700px;
	height:100%;
	margin-left: 80px;
	line-height:78px;
	float:left;
}
.hand-left-test{
	font-size:18px;
	float:left;
	color: #707070;
}
.hand-left-shape{
	font-size:18px;
	float:left;
	color:white;
}
.hand-right{
	height:48px;
	width:300px;
	float:right;
   margin:15px;
   border:1px solid black;
   box-sizing:border-box;
}
.hand-right-left{
	height:48px;
	width:20px;
	float:left;
}
input{
	width:249px;
	height:46px;
	padding-left:10px;
	box-sizing:border-box;
	border:none;
	float:left;
	outline:none;
}
.hand-right-right{
	height:46px;
	width:50px;
    float:right;
	border-left:1px solid black;
	box-sizing: border-box;
	text-align:center;
}
.hand-right-right i{
	line-height:48px; 
}
/* 导航结束 */
/* banner图开始 */
.big-banner-box{
	width:1226px;
	height:460px;
	background: skyblue;
	margin:0 auto;
	position:relative;
	}
.banner-left{
	width:234px;
	height:100%;
	background:rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	top:0;
	z-index: 2;
}
.banner-left ul{
	width:100%;
	height:420px;
	margin-top:20px ;
	box-sizing: border-box;
}
.banner-left .left-text{
	width:100%;
	height:42px;
	line-height:42px;
	color:#dfe1e3;
}
.left-text .small-text-left{
	float:left;
	width:100px;
	height:42px;
	margin-left:30px;
}
.left-text .small-text-right{
	float:right;
	width:50px;
	height:42px;
}
.banner-right{
	width:100%;
	height:100%;
	background:yellow;
	position:absolute;
	left:0;
	top:0;
}
.banner-right>ul>li img{
	width:1226px;
	height:460px;
	position: absolute;
	left:0;
	right:0;
	margin:0;
}
.banner-point{
	height:10px;
	width:100px;
	position:absolute;
	right:25px;
	bottom:25px;
}
.banner-point div{
	height:10px;
	width:10px;
	background:rgba(0,0,0,0.4);
	float:left;
	border-radius:50% ;
	margin-left:10px;
	border:2px solid rgba(161,170,179,0.4);
	box-sizing: border-box;
}
.banner-point .point-box1{
	background:#e6f4ff;
	border:2px solid rgba(139,149,160,1)
}
.banner-arrows-left{
	height:69px;
	width:41px;
	position: absolute;
	top:0;
	bottom:0;
	margin:auto;
	right:0;
}
.banner-arrows-left>i{
	font-size:32px;
	margin-right:0 ;
	color:#cdd9e3;
}
.banner-arrows-right{
	height:69px;
	widows: 41px;
	position: absolute;
	top:0;
	bottom:0;
	margin:auto;
	left:234px;
}
.banner-arrows-right i{
	font-size:32px;
	color:#cdd9e3;
}
/* banner图结束 */
/* 小米闪购开始 */
/* 小米闪购头部开始 */
.mi-flash{
	width:1226px;
	height:100px;
	margin:0px auto;
}
.mi-flash-top{
	width:100%;
	height:60px;
}
.xiaomishangou{
	width:500px;
	height:60px;
	float:left;
	line-height:60px;
	font-size:28px;
	color:#3f3f3f;
}
.arrows{
	width:70px;
	height:24px;
	float:right;
	border:1px solid #e2e2e2;
	box-sizing:border-box;
	margin-top:22px;
}
.arrows-left{
	width:36px;
	height:23px;
	float:left;
	border-right:1px solid #e2e2e2;
	box-sizing:border-box;
	text-align:center;
}
.arrows-right{
	width:calc(100% - 36px);
	height:24px;
	float:left;
	text-align:center;
}
.arrows-left i{
	line-height:24px;
	color:#e2e2e2;
}
.arrows-right i{
	line-height:24px;
	color:#9c9c9c;
}
/* 小米闪购头部结束 */
.mi-bigbox{
	width:1226px;
	height:340px;
	margin:0px auto;
}
.mi-box{
	width:235px;
	height:340px;
	float:left;
	text-align:center;
	background: #f1eded;
}
.mi-box-0{
	width:100%;
	height:2px;
	background:red;
}
.mi-box-1{
	font-size:26px;
	color:red;
	margin-top:60px;
}
.mi-box-2{
	font-size:70px;
	color: red;
	margin-top:10px;
}
.mi-box-3{
	font-size:18px;
	color:#949191;
	margin-top:10px;
}
.mi-box-4{
	font-size:30px;
	color:white;
	margin-top:20px;
	margin-left:32px;
}
.box4text{
	width:46px;
	height:46px;
	font-size:20px;
	background: #605751;
	float:left;
	line-height:46px;
}
.box4symbol{
	color:#000;
	margin:0px 5px;
	font-size:20px;
	float:left;
	line-height:46px;
}
.mi-box1{
	width:12.75px;
	height:340px;
	background:#fff;
	float:left;
}
.flash-box{
	width:235px;
	height:340px;
	background:#fafafa;
	float:left;
	text-align:center;
}
.flash-box-0{
	width:100%;
	height:2px;
	background:orange;
	}
.flash-box-1{
	width:80px;
	margin:0px auto;
	background:red;
	color:white;
	}
.flash-box-2 img{
	width:150px;
	height: 120px;
	margin-left:45px;
	margin-top:45px;
}
.flash-box-3{
	margin-top:215px;
	font-size:14px;
}
.flash-box-4{
	color:#bebebe;
	font-size:14px;
	margin-top: 2px;
}
.flash-box-5{
	color:red;
	font-size:14px;
	margin-top:7px;
	}
.box5text{
	color:#bebebe;
	margin-left:5px;
	}
.flash-box1{
	width:12.75px;
	height:340px;
	background:#fff;
	float:left;
}
/* 小米闪购结束 */
.interlude{
	width:1226px;
	height: 120px;
	margin:45px auto;
	background: skyblue;
}
/* 为你推荐开始 */
.for-you {
	width:1226px;
	height:372px;
	margin:0 auto;}
	/* 为你推荐头部 */
.you-top{
	width:1226px;
	height:58px;
	margin:0 auto;
	}
.you-top .top-left{
	width:200px;
	height:58px;
	float:left;
	line-height: 58px;
	font-size: 22px;
	color:#727272;
}
.you-top .top-right{
	width:200px;
	height:58px;
	float:right;
}
.top-right .right-bigbox{
	width:71px;
	height:24px;
	border:1px solid #e2e2e2;
	box-sizing:border-box;
	margin-top:18px;
	float:right;
}
.right-bigbox .right-box1{
	width:35px;
	height:23px;
	box-sizing:border-box;
	border-right:1px solid #e2e2e2;
	float:left;
	text-align: center;
}
.right-bigbox .right-box2{
	width:calc(100% - 35px);
	height:24px;
	float:right;
	text-align: center;
}
.right-box1 i{
	line-height:24px;
	color:#e2e2e2;
}
.right-box2 i{
	line-height:24px;
	color:#9c9c9c;
}
	/* 为你推荐头部结束 */
.you-bottom{
	width:1226px;
	height:calc(100% - 58px);
	overflow: hidden;
}
.you-bottom ul{
	width:calc(1226px * 3);
	height:100%;
	text-align: center;	
}
.you-bottom ul li{
	width:232px;
	height:100%;
	float:left;
	text-align: center;	
}

.foot-box{
	margin-left:0px;
	margin-right:8px;
	text-align: center;	
}
.foot-box1{
	margin:0px 8px;
}
.foot-box2{
	margin-right:0px;
	margin-left:8px
}
.foot-box div img{
	width:140px;
	height:140px;
	margin-top:60px;
	margin-left:40px;
}
.foot-box1 div img{
	width:140px;
	height:140px;
	margin-top:60px;
	margin-left:40px;
}
.foot-box2 div img{
	width:140px;
	height:140px;
	margin-top:60px;
	margin-left:40px;
}
.foot-box-text{
	font-size:16px;
	color:#888;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:220px;
	margin-left:20px;
	margin-right:20px;
}
.foot-box1-text{
	font-size:11px;
	color:#ff6b15;
	margin-top:15px;
}
.foot-box2-text{
	font-size:14px;
	color:#969696;
	margin-top:15px;
}
/* 为你推荐结束 */